footer.bg-gray-800.p-4
  .container.mx-auto.text-center
    p.text-white
      | © 2024 Ваша Компания. Все права защищены.
    .flex.justify-center.space-x-4.mt-2
      a.text-orange-500.hover:text-orange-300(href='/privacy') Политика конфиденциальности
      a.text-orange-500.hover:text-orange-300(href='/terms') Условия использования
      a.text-orange-500.hover:text-orange-300(href='/contact') Связаться с нами