header.bg-orange-600.p-4
  .container.mx-auto.flex.items-center.justify-between
    h1.text-white.text-xl.font-bold Admin Panel
    nav
      ul.flex.space-x-4
        li
          a.text-white.hover:text-orange-300(href='/dashboard', aria-label='Dashboard') Dashboard
        li
          a.text-white.hover:text-orange-300(href='/shoes', aria-label='Shoes') Shoes
        li
          a.text-white.hover:text-orange-300(href='/categories', aria-label='Categories') Categories
        li
          a.text-white.hover:text-orange-300(href='/users', aria-label='Users') Users
        li
          a.text-white.hover:text-orange-300(href='/logout', aria-label='Logout') Logout