html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title Shoes Store | #{title}
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css')      
      link(rel='stylesheet', href='css/style.css')


  body
    include _adminHeader 
    
    block content
      header.bg-gray-800.p-4
        .container.mx-auto
          h1.text-6xl.mt-12 asdasd

